@import "colors";
@import "checkbox";
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: Quicksand;
}

.main-container {
  .welcome-message {
    margin-top: 58px;
    margin-left: 184px;

    h1 {
      font-family: Quicksand;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 50px;
      color: #777a87;
    }
    h2 {
      font-family: Quicksand;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 31px;

      color: #777a87;
    }
  }
  img {
    height: 250px;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
    position: absolute;
    top: 50%;
    width: 250px;
    z-index: 3;
  }

  .tasks-list {
    margin-top: 58px;
    margin-left: 184px;

    h3 {
      font-size: 18px;
      padding-bottom: 30px;
      color: $primaryColor;
    }

    .task {
      margin: 22px 0px;
      label {
        margin-left: 21px;
        font-size: 16px;
        line-height: 20px;
        width: 420px;
      }
      &:hover {
        svg {
          opacity: 0.1;
        }
      }
      button {
        outline: none;
        background: #fff;
        border: none;
      }
      svg {
        position: relative;
        margin-left: 250px;
        width: 19px;
        height: 19px;
        opacity: 0;
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}
